.task {
  font-size: 1.2rem;
}
.done {
  color: green;
  font-size: 1.4rem;
}

.undone {
  color: rgb(43, 46, 226);
}

.hidden {
  display: none;
}

.visible {
  display: inline-block;
}

.taskList {
  padding-top: 2rem;
  margin: auto;
  min-height: 30rem;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.taskList > .addTask > input {
  padding: 5px;
  margin-right: 0.3rem;
  border-radius: 5px;
  color: rgb(5, 5, 14);
  border: none;
}
.taskList > .addTask > input:focus {
  border: 2.8px solid green;
}
.taskList > .addTask > button {
  padding: 5px 10px;
  border-radius: 7px;
  border: 2px solid #a8d5fa;
  color: #3a99e7;
}
.taskList > .addTask > button:hover {
  transform: scale(1.05);
}

.taskList > .taskCatalogue {
  list-style: none;
  min-width: 70%;
  min-height: 20rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;

  gap: 0.5rem;

  background-color: #c6def1;
}

.taskList > .taskCatalogue > li {
  width: inherit;
  padding: 0 1rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  background-color: #a8d5fa;
  border-radius: 5px;
}
.taskList > .taskCatalogue > li > .buttons {
  display: flex;
  gap: 0.5rem;
}

.taskList > .taskCatalogue > li > .buttons > button {
  padding: 3px 10px;
  border-radius: 5px;
}
.taskList > .taskCatalogue > li > .buttons > button:hover {
  transform: scale(1.05);
}

.taskList > .taskCatalogue > li > .buttons > .danger {
  border-color: red;
  color: red;
}

.taskList > .taskCatalogue > li > .buttons > .success {
  border-color: green;
  color: green;
}
.taskList > .taskCatalogue > li > .buttons > .primary {
  border-color: blue;
  color: blue;
}

.taskList > .taskCatalogue > li > .buttons > .save {
  border-color: rgb(176, 243, 113);
  color: green;
}

.taskList > .taskCatalogue > li > .buttons > .edit {
  border-color: rgb(14, 173, 194);
  color: rgb(14, 173, 194);
}
